[project]
	description = Am Java Web App
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/LePirlouit (lepirlouit)
[access "refs/for/refs/*"]
	read = group user/LePirlouit (lepirlouit)
	push = group user/LePirlouit (lepirlouit)
	label-Code-Review = -2..+2 group user/LePirlouit (lepirlouit)
	label-Verified = -1..+1 group user/LePirlouit (lepirlouit)
	rebase = group user/LePirlouit (lepirlouit)
	removeReviewer = group user/LePirlouit (lepirlouit)
	submit = group user/LePirlouit (lepirlouit)
[access "refs/heads/*"]
	read = group user/LePirlouit (lepirlouit)
	create = group user/LePirlouit (lepirlouit)
	push = +force group user/LePirlouit (lepirlouit)
	pushMerge = group user/LePirlouit (lepirlouit)
[access "refs/tags/*"]
	push = group user/LePirlouit (lepirlouit)
	push = +force group user/LePirlouit (lepirlouit)
